body {
    background-color: papayawhip;

    color: black;

    padding: 0;
    margin: 0;

    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: rgba(62, 54, 92, 0.75);
    color: white;
    padding: 10px;
    margin: 0;
}

main {
    padding: 2cm 2cm;
}

h1 {
    font-family: cursive;
    margin: 0;
}
h2 {
    font-family: cursive;
    margin: 0;
}

p {
    margin-left: 2vw; 
    font-family: Times, "Times New Roman", Georgia, serif;
}

.cartao {
    width: 10cm;
    background-color: gainsboro;
}
.cartao img {
    width:100%
}